.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link.active {
  color: #ff5722;
}
